<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>cheff</title>
</head>

<body>
    <nav>
      <img [src]="rutaImgLogo" class="rutaImgLogo" />
      <ul class="optionList">
        <li>
          <a class="option" routerLink="/kitchen/back-orders" routerLinkActive="active"
            >PEDIDOS PENDIENTES</a>
        </li>
        <li>
          <a
            class="option"
            routerLink="/kitchen/done-orders"
            routerLinkActive="active"
            >PEDIDOS REALIZADOS</a>
        </li>
      </ul>
      <img [src]="rutaImgFondo" class="rutaImgFondo" />
    </nav>
    <main>
      <i
        id="logout"
        (click)="logout()"
        class="fa-solid fa-right-from-bracket"
      ></i>
      <router-outlet></router-outlet>
    </main>
  </body>

