<body>
    <section class = 'container'>
        <img  class = 'imgLogo' [src]='imagenes' alt="imgLogo">
       
             <img class ="imgbackground" src="../../assets/img01.jpg" alt="img-background">

    <form  class = 'formContainer'[formGroup]="loginForm">

        <div class = 'divContainer'>
            <input type="email" formControlName="correo" placeholder="ejemplo@gmail.com" class="email" >
            <span [hidden]="loginForm.get('correo')?.valid || loginForm.get('correo')?.pristine" *ngIf="loginForm.get('correo')?.errors?.['require']"  class="error">El correo no es válido</span>
        </div>
        
        <div class = 'divContainer'>
            <input type="password" formControlName="clave" placeholder="*********" class="password" >
            <span class="error"></span>
        </div> 
     

        <button class="btn btn-star" >Iniciar Sesión</button>

    </form>    

        
    </section>
  
    
</body>


