<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> waiter </title>
 </head>
<body>
        
      <h2 id="client">Cliente</h2>
      <input class="inclient" type="text">
      
      <h2 id="nmesa">N° de mesa</h2>
      <input class="intable" type="text">

 <!--Tabla de menú de desayuno-->
   <th >
   <button (click)="filterByType('Desayuno')" class="menu" for="menu"> Desayunos</button>
    </th>
    <table *ngIf="filterType === 'Desayuno'">
        <tr>
  <th>ITEM</th>
  <th>PRECIO</th>
   <th>CANTIDAD</th>
        </tr>
        <tr *ngFor="let product of products">
          <td *ngIf="product.type === filterType">{{ product.name }}</td>
          <td *ngIf="product.type === filterType">{{ product.price }}</td>
        </tr>
      </table>
<!--Tabla de menú del día-->
<th>
  <button (click)="filterByType('Almuerzo')" class="menu" for="menu"> Del día</button>
  </th>
<table *ngIf="filterType === 'Almuerzo'">
      <tr>
      <th>ITEM</th>
      <th>PRECIO</th>
      <th>CANTIDAD</th>
    </tr>
   <tr *ngFor="let product of products">
    <td *ngIf="product.type === filterType">{{ product.name }}</td>
    <td *ngIf="product.type === filterType">{{ product.price }}</td>
  </tr>
</table>
</body>
</html>
