.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px;
    margin: 15px;
    color: red;
}

.sumRes {
    width: 25px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--botones);
    margin-left: 7%;
    margin-right: 7%;
    font-weight: 600;
    box-shadow: 0px 0px 8px 0px rgb(141, 125, 99);
    border:2px solid rgb(104, 104, 104)
   
 
}
span{
    font-weight: 600;
}

 