<body>
    <nav>
        <img [src]="rutaImgLogo"class="rutaImgLogo">
        <ul class="optionList">
            <li> <a class="option" routerLink="/waiter/orders" routerLinkActive="active">MENU</a></li>
            <li> <a class="option" routerLink="/waiter/pending-orders" routerLinkActive="active">ORDENES PENDIENTES</a></li>
       
        </ul>
        <img [src]="rutaImgFondo" class="rutaImgFondo">
    </nav>
    <main>
        <i id="logout" (click)="logout()" class="fa-solid fa-right-from-bracket"></i>
        <router-outlet></router-outlet>

    </main>
  
</body>