<p>modal-add-user works!</p>
<div class="modal">
    <div class="modalBody">
        <h1>Agregar Usuario</h1>
        <div class="divContainer">
            <input placeholder="Nombre">
            <span> error</span>
        </div>
        <div class="divContainer">
            <input type="email" placeholder="Email">
            <span>error</span>
        </div>
        <div class="divContainer">
            <input type="string" placeholder="Contraseña">
            <span>error</span>
        </div>
        <div class="divContainer button">
            <button>Guardar</button>
            <button>Cerrar</button>
        </div>
      
    </div>
</div>
 