<body>
    <nav>
        <img [src]="rutaImgLogo"class="rutaImgLogo">
        <ul class="optionList">
            <li> <a class="option" routerLink="/manager/staff" routerLinkActive="active">PERSONAL</a></li>
            <li> <a class="option" routerLink="/manager/menu" routerLinkActive="active">MENÚ</a></li>
        </ul>
        <img [src]="rutaImgFondo" class="rutaImgFondo">
    </nav>
    <main>
        <h2>{{userEmail}}</h2>
        <!-- <app-buttons></app-buttons> -->
        <router-outlet></router-outlet>
        

    </main>
  
</body>